<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    Bem-vindo {{nome}}
    <br>
    {% if professor %}
        <form action="{{dashboard}}" method="post">
            <h1>Cadastrar turma</h1>
            <label>Nome da turma</label>
            <input type="text" name="nome_turma" required>
            <label>Turno</label>
            <input type="text" name="turno_turma" required>
            <button type="submit">Salvar</button>
        </form>
        {% if cadastrado %}
            A turma foi cadastrada com sucesso
        {% endif %}
        <h2>Turmas Cadatradas</h2>
        <form action="/edita_apaga" method="get">
        {% for id, turma, turno in turmas%}
            <button name="escolha" value="{{id}}">Nome: {{turma}}, Turno: {{turno}}</button>
            <br>
        {% endfor %}
        </form>
    {% else %}
        <br>
        <label>Sua turma é: {{turma[1]}}, Turno: {{turma[2]}}</label>
    {% endif %}
</body>
</html>